{
  "project_info": {
    "project_number": "21904977338",
    "project_id": "money-plan-23efb",
    "storage_bucket": "money-plan-23efb.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:21904977338:android:REPLACE_WITH_YOUR_APP_ID",
        "android_client_info": {
          "package_name": "com.moneyplann.app"
        }
      },
      "oauth_client": [
        {
          "client_id": "21904977338-djdo9pqm66ntng396g6lh8cdsnq8p9gn.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_YOUR_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
